html{
  background: url("BeyondLightFull2.png") no-repeat center center fixed;
  background-size: cover;
}
body{
  background-color: #111111;
  overflow: hidden;
  margin: 0;
}
.blank_gray{
  position: absolute;
  background-color: rgba(10, 10, 10, 0.5);
  width: 50%;
  padding-bottom: 3%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vw;
}
.blank_gray_side{
  position: absolute;
  background-color: rgba(10, 10, 10, 0.5);
  width: 7%;
  height: 1%;
  padding-bottom: 10%;
  top: 75%;
  right: -5%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
.icon{
  position: relative;
  width: 50%;
  margin-top: 15%;
  left: 15%;
}
.img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.timer{
  font-size: 6vw;
  text-shadow: 3px 3px #000000;
  text-align: center;
  font-family: destinyFont;
  color: #ffffff;
  margin-top: -5%;
}
@font-face {
  font-family: destinyFont;
  src: url(destinyFont.ttf);
}
